/* You can add global styles to this file, and also import other style files */
.navbar{
    background-color: cornflowerblue;
}
.nav-text{
    color: white;
    text-decoration: none;
    float: left;
    font-size: 18px;
    margin-right: 0em;
}
.topnav-right {
        padding-right: 40em;
        
    }
    .topnav-right a{
        color: white;
        text-decoration: none;
        padding: 14px 16px;
    }    
.topnav-right a:hover {
        color: #0e1115;
        background: white;
    }
.menu{
    border-radius: 12px;
    text-decoration: none;
}
.filter-ser{
    margin-left: 35em;
}
.bi bi-x{

}
.container{
margin-top: 40px;
padding-left: 200px;
padding: 60px;
width: 2000px;
}
.row{

}
.col{
    border: 1px solid #ebddf6;
}
.rounded-circle{
    margin-top: -26px;
    margin-bottom: -41px;
}
.bg-color{
    background-color: #81c0ff!important;
}
.cancle{
    margin-left: 12em;
}
.text-1{
    margin: 45px;
}
.text-2{

}

.row col-md-3 {
    flex: 0 0 auto;
    width: 52%;
}
.h5, h5 {
    font-size: 1.25rem;
    background-color: cornflowerblue;
}
@media (min-width: 1400px)
.container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
    max-width: 1147px;
}



.grid {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fill, minmax(250px,1fr));
    grid-auto-rows: 189px;
  }
  
  /* Non-grid specific CSS */  
  body {
    margin: 10px;
      color: #374046;
      background-color: #ffffff;
      font-family: 'Open Sans Condensed', sans-serif;
      font-size: 1.15em;
      text-rendering: optimizeLegibility;
      -webkit-font-smoothing: antialiased;
  }
  
  .item {
    background-color: #ffffff;
  }
  
  .photothumb{
    width: 100%;
  }
  
  .title {
    padding: 20px;
   }
  
  .title h3{
    font-size: 1.2em;
    color: #ffffff;
    text-transform: uppercase;
  }
  
  .project .title{
    background-color: #607D8B;
  }
  
  .blog .title{
    background-color: #ff9800;
  }
  
  .photo .title{
    background-color: #f44336;
  }
  
  .desc{
    padding: 10px 10px 5px 10px;
  }
  
  .desc img{
    width: 50%;
    margin: 0 10px 10px 0;
    float: left;
  }
  
  .desc p{
    margin-bottom: 10px;
  }
  .container-22{
    margin-top: 40px;
    padding-left: 200px;
    padding: 60px;
    width: 2000px;
    }
    .project .title1{
      background-color: #607D8B;
      width: 85em;
    }
    .container-23{
      margin-top: 95px;
      padding-left: 200px;
      padding: 60px;
      width: 2000px;
      margin-left: -330px;
      }


      a {
        color: #060a11;
        
    }
    a:not([href]):not([class]), a:not([href]):not([class]):hover {
      color: inherit;
      text-decoration: none;
      flex: auto;
  }
  .mr-4 {
    margin-right: 1.5rem!important;
    float: left;
}